﻿.header .head {
    font-size: 24px;
    text-align: center;
    padding: 5px 5px;
    color: white;
    text-shadow: 2px 2px #5d5d5d;
    font-size: 24px;
    font-weight: bold;
    height: 27px;
}
.header-menu {
    background-color: #14144a;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 6px;
}
.menu_wrapper {
    width:310px;
}
.banner-bg {
    background-image: url(../c4r-images/header_bg.png);
    background-repeat: repeat-x;
    width: 100%;
    background-size: cover;
    max-height: 168px;
}
.list a {
    margin-left: 8px;
    display: block;
    font-size: 13px;
    font-weight: 700;
    color: #6a6a6a;
    text-decoration: none;
}
.list a:first-of-type {
    margin-top: 8px;
}
.list a:last-of-type {
    margin-bottom: 8px;
}
.catbtn {
    max-width: 61px;
    float: left;
    display: block;
    margin-top: 25px;
    margin-left: 10px;
}
 .main_container {
    width: 93%;
    max-width: 1150px;
    overflow: hidden;
}
.ads_top {
    padding: 5px 0;
    text-align: center;
    width:90%;

}
.ad-side {
    display: none;
}
.house {
    display:none;
}
.logo {
    float: none;
    max-width: 193px;
}
.container .job-container .job-form {
    float: none;
}
.categories_border {
    display: none;
    margin-bottom: 10px;
    border: 1px solid #384260;
}
.container .job-container .job-form {
    max-width: 775px;
}
.signup {
    margin: 0;
    position: absolute;
    top: 2px;
    right: 18px;
    font-weight: normal;
    z-index: 1000;
    padding-top: 0;
    width: 150px;
    font-size:14px;

}
.fb_link {
    margin-top: 8px;
    color: #ffffff;
    font-weight: bold;
    float: right;
    text-decoration: none;
}
.fb {
    max-width: 28px;
    margin-top: 3px;
    /*margin: 0;*/
    /*padding-right: 3px;
    margin-top: -4px;*/
}
@media (min-width: 750px) {
    .div-banner {
        width: 93%;
        max-width: 1150px;
        overflow: hidden;
    }

}

@media (min-width: 1000px) {



}
@media (min-width: 1228px) {
    .house {
        display: block;
        float: right;
        /* margin: 20px 0 0; */
        max-width: 327px;
    }
    .logo {
        float: left;
        max-width: 310px;
    }
    .ad-side {
        display: block;
        max-width: 301px;
        float: left;
    }
    .container .job-container .job-form {
        float: right;
    }
    .container .job-container .ad {
        display: none;
        width: 300px;
        float: left;
    }
    .catbtn {
        display: none;
    }
    .categories_border {
        max-width: 310px;
        float: left;
        display: block;
        border: 1px solid #384260;
    }
    .categories_border_m {
        display: none !important;
    }
    .fb-page-categrory {
        max-width: 340px;
        float: left;
    }
    

}






@media(max-width:1228px) {
    .signup {
        top: 55px;
    }

    .fb_link {
        color: #1f73b4;
    }
    .fb-page-categrory {
        max-width: 340px;
        float: none;
        margin-top: 10px;
    }
}
@media(max-width:728px) {
    .signup {
        top: 115px;
    }
    .header .head {
        font-size: 20px;
        height: 20px;
    }
}
@media (max-width:500px) {
    .logo {
        max-width: 160px;
    }
    .catbtn {
        max-width: 55px;
        margin-top: 20px;

    }
}
@media(max-width:450px) {
    .logo {
        max-width: 130px;
    }
    .catbtn {
        max-width: 43px;
        margin-top: 15px;
        margin-left: 32px;
    }
    .signup {
        top: 105px;
        right: 8px;
    }
}

@media(max-width:400px) {
    .header .head {
        font-size: 15px;
        height: 15px;
    }
    .ads_top {
        width: 100%;
    }
    .logo {
        max-width: 115px;
    }
    .catbtn {
        max-width: 41px;
        margin-top: 14px;
    }
    .signup {
        right: 8px;
        width: 145px;
    }
    .fb {
        max-width: 24px;
    }
    .signup {
        top: 100px;
    }
}
@media(max-width:350px) {

}


