﻿body {
}

.hide {
    display:none;
}

#category {
    color:#1a6e93;
    font-size:30px;
}

#categories {
    color:#1a6e93;
    font-size:16px;
    line-height:20px;
    font-weight:normal;
}

    #categories a {
        color: #1a6e93;
    }

    #categories a.selected {
        color: #00cf45;
        font-weight:bold;
    }

#lifestyles .lifestyle {
    font-size:14px;
    line-height:16px;
}

    #lifestyles .lifestyle .title {
        width: 100%;
        font-family: Arial;
        font-weight: bold;
        font-size: 19px;
        line-height: 1.2em;
        color: #ac0a0a;
        margin: 10px 0;
    }

    #lifestyles .lifestyle .title a {
        color: inherit;
        text-decoration: none;
    }

#lifestyles .lifestyle .img {
    width:50%;
    max-width: 200px;
}

#lifestyles .lifestyle .img img {
    width:100%;
    margin: unset;
}

#lifestyles .lifestyle .description {
    width:100%;
    padding-bottom:10px;
}

#lifestyles .lifestyle .button {
    float:right;
    width:420px;
    font-size:14px;
    font-weight:bold;
}

#lifestyles .lifestyle .date {
    font-size:12px;
    color: #333333;
    float:right;
    width:420px;
    padding-bottom:6px;
}

#lifestyle hr {
    display: block; height: 1px;
    border: 0; border-top: 1px solid #05b2c3;
    margin: 1em 0; padding: 0;
}

#poPrevNext .prev {
    float:left;
    text-align:left;
}
#poPrevNext .next {
    float:right;
    text-align:right;
}
#poPrevNext .image {
    width:65px;
}
    #poPrevNext .image img {
        width:65px;
    }
#poPrevNext .lnk {
    width:150px;
    color:#1a6e93;
    font-family: HelveticaThin;
    font-size: 25px;
    font-weight: bold;
    margin:0 10px 0 10px;
    line-height:65px;
}
    #poPrevNext .lnk a {
        color: inherit;
    }


    /*--------------------*/

    #lifestyle {
    width:100%;
    margin: 15px 15px 0 auto;
    font-family: Arial;
    color:black;
    font-size:12px;
}

    #lifestyle .main {
        background-color:white;
        padding:.5em 1em;
    }

        #lifestyle .main .left {
            float:left;
            width:150px;
        }

        #lifestyle .main .right {
            float:right;
            width:440px;
            margin-right:10px;
        }

        #lifestyle .title {
            color: #ac0a0a;
            font-size: 24px;
            line-height: 1.2em;
            font-weight: bold;
            margin-top: 8px;
        }

    #lifestyle .altColor {
        color:#1a6e93;
    }

    #lifestyle .date {
        margin-top:15px;
    }

    #lifestyle .subtitle {
        color:#666666;
        font-size:18px;
        margin-top:5px;
        margin-bottom:10px;
    }

    #lifestyle .imgmain {
        text-align:center;
        position: relative;
    }

        #lifestyle .imgmain img {
            margin:0 0 10px 0;
            max-width:590px;
            width:100%;
        }


    #lifestyle .imgmain .leftarrow, #lifestyle .imgmain .rightarrow {
        position: absolute;
        top: 35%;
        top: calc(50% - 65px);
        margin: 0;
        height: 0;
        overflow:visible;
    }
        #lifestyle .imgmain .leftarrow {
            left: 0;
        }
        #lifestyle .imgmain .rightarrow {
            right: 0;
        }
            #lifestyle .imgmain .leftarrow img, #lifestyle .imgmain .rightarrow img {
                width:auto;
            }

    #lifestyle .tags {
        margin-top:12px;
        color:#1a6e93;
        font-size: 14px;
    }

        #lifestyle .tags a {
            color:inherit;
        }

        #lifestyle .tags .title {
            color:#666;
            font-size: 18px;
            font-weight:bold;
        }

.poPrevNext {
    background-color:#384260;
    text-align:center;
    color:#fff;
    font-family: Arial;
    font-size: 18px;
    line-height:40px;
    margin:18px 0;
}
    .poPrevNext .prev {
        float:left;
        text-align:left;
    }
    .poPrevNext .next {
        float:right;
        text-align:right;
    }
    .poPrevNext .lnk {
        margin:0 20px 0 20px;
    }
        .poPrevNext .lnk a {
            color: inherit;
        }

#dots {
    text-align:center;
    font-size:30px;
    color:#666;
}

    #dots a {
        color:inherit;
    }

    #dots .selected {
        color:#1a6e93;
    }

#lifestyles hr{
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: inset;
    border-width: 1px;
}


@media (min-width:500px) {

    #lifestyles .lifestyle .img {
        float:left;
        width:25.5%;
    }

    #lifestyles .lifestyle .description {
        float:right;
        width:68%;
    }
}



@media (min-width:850px) {
    #category {
        font-size:49px;
    }
}

