﻿#photos {
    margin-top:10px;
    padding:8px 3px;
    width: 100%;
}

    #photos .title {
        font-family:Arial;
        font-size:30px;
        color:#08c739;
        font-weight:bold;
    }

    #photos .subtitle {
        margin:5px 0 5px 0px;
        font-family:Arial;
        font-size:14px;
        color:#08c739;
        font-weight:bold;
    }

#tblPhotos {
    border-collapse:collapse;
}

    #photos .photo {
        max-height:206px;
        width: 99%;
        padding:5px 0;
        overflow:hidden;
        vertical-align:middle;
        float:left;
    }

        #photos .list .photo div {
            width: 100%;
            height: 206px;
            background-size:cover;
            cursor:pointer;
        }

        #photos .list .photo div img {
            width: 100%;
        }

/*,.ui-dialog,.ui-widget, .ui-widget-content, .ui-corner-all, .foo, .ui-draggable, .ui-resizable*/
.ui-dialog {
    background-image:none;
    background: rgb(136, 107, 167); /* Fall-back for browsers that don't support rgba */
    background: rgba(136, 107, 167, .8);
}

.ui-widget-content a{
    color: white !important;
}

#photoArrowLeft {
    position:absolute;
    left:0;
    top:200px;
    width:4%;
    height:80px;
}

#photoArrowRight {
    position:absolute;
    right:0;
    top:200px;
    width:4%;
    height:80px;
}

#dlgPhoto {
    overflow: hidden;
}

#dlginspiration {
    margin:2.5%;
    width:95%;
    text-align:center;
    background-color:white;
}

    #dlginspiration img {
        width:100%;
        max-height: 436px;
    }

    #dlginspiration .title {
        text-align:left;
        font-family:Arial;
        font-size:30px;
        color:#6600cc;
        font-weight:bold;
        font-size: 40px;
        margin:20px 15px 0;
    }

    #dlginspiration .text {
        margin:15px 15px 0;
        text-align:left;
        font-family:Arial;
        font-size:12px;
        font-weight:normal;
        line-height:14px;
    }

#fbCommentsPlaceholder {
    margin-left:5px;
}

/* Social */

    #dlginspiration .media .social {
        margin-top:7px;
        height:20px;
        float:left;
        margin-left:5px;
        margin-right:5px;
        margin-bottom:10px;
        cursor:pointer;
    }
    
        #dlginspiration .media .social div {
            float:right;
            margin-top: 1px;
            width:24px;
            text-align:center;
        }

        #dlginspiration .media .facebook {
            background-image:url(../images/social_FB.jpg);
            width:75px;
        }

        #dlginspiration .media .facebookshare {
            background-image:url(../images/social_FB_share.jpg);
            width:88px;
        }

        #dlginspiration .media .google {
            background-image:url(../images/social_GG.jpg);
            width:63px;
        }

        #dlginspiration .media .twitter {
            background-image:url(../images/social_TW.jpg);
            width:88px;
        }

#seeAlso {
}

    #seeAlso .divTbl {
        float:left;
        display:table;
        width: 120px;
        height: 133px;
        margin-left:10px;
    }

        #seeAlso .divTbl .header {
            height:13px;
            width: 120px;
            display:table-row;
        }
            #seeAlso .divTbl .header img {
                height:13px;
                max-width:120px;
            }

        #seeAlso .divTbl .divSeeAlso {
            display:table-cell;
            vertical-align:middle;
            height:140px;
            width:103px;
        }

        #seeAlso .divTbl .divCell {
            display:table-cell;
            vertical-align:middle;
            height:120px;
            width:120px;
        }
            #seeAlso .divTbl .divCell img {
                max-height:120px;
                width:120px;
            }

#tmnext {
    float:right;
    text-align:right;
}

#tmprev {
    float:left;
}

.prevnext {
    margin: 5px 5px 5px 0;
    font-family:Arial;
    text-decoration:none;
    font-size:22px;
    font-weight:bold;
}
    .prevnext a {
        color:#095d8a;
        font-weight:bold;
        text-decoration:none;
    }

@media (min-width:450px) {
    #photos .photo {
        width: 46%;
        padding:5px;
    }
}

@media (min-width:750px) {
    #photos .photo {
        width: 98%;
        padding:5px 0;
    }
}

@media (min-width:850px) {
    #photos .photo {
        width: 46%;
        padding:5px;
    }
}

@media (min-width:1220px) {
    #photos .photo {
        width: 32%;
    }
}
