﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Breadcrumbs.ascx.cs" Inherits="UserControls_Breadcrumbs" %>
<div id="breadcrumbs">
    <a href="/" id="bcLevel">Home</a><asp:Literal ID="litBreadcrumbs" runat="server"></asp:Literal>
</div>